{%include 'base.html'%}
{% load static %}
{% load cloudinary %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">  
<link rel="stylesheet" href="{% static 'css/universal.css' %}">  
{% endblock  %}
  

{% block content %} 

      <a href="/">
      <div class="container vender-registration mt-3">           
          <h1 class="logo-name-reg">Gardenation</h1>
      </div>
      </a>

      <div class="container register-wrapper mt-5">

      <center>
        <h1 class="register-welcome mt-3">Sign In</h1>
        <p class="welcome-note mt-4">Welcome Back</p>
      </center>



      <center>
        <form class="p-0" action="{% url 'login' %}" method="post">
          {% csrf_token %}
         
        <div class="form inpt mt-4">
          <label class="text-left email-login left-label" style="margin-left: -61%;" for="email">Email</label>
              <input type="text" id="email" name="username" class="form-control password" autocomplete="off" required />
          </div>
        
          <div class="form inpt mt-4">
              <input type="password" name="password" placeholder="Enter Password" id="password" class="form-control password" autocomplete="off" required />
          </div>

      <br />
      <center>
        {% if form.errors %}
        <p class=" label label-danger">
            Your username and password didn't match. 
            Please try again.
        </p>
      {% endif %}
        <button type="submit" class="btn btn-primary btn-block m-t-3 mb-4 register">Sign In</button>
        <input type="hidden" name="next" value="{{ next }}" />
        
    </form>
      </center>
      
      <center>
        <div class="forgot mt-3">
          <div class="form-check">
            <input
              class="form-check-input remember"
              type="checkbox"
              value=""
              id="remember"
              checked
            />
            <label class="form-check-label remember-label" for="remember"> Remember me </label>
          </div>
          <p class="log log-f forgot-login"><a class="register-a" href="/">Home page</a></p>
        </div>
      </center>
      
      <br />

      <p class="dont">Don’t have an account?  <a class="register-a" href="{% url 'registration_type' %}">
      Register here</a>
      </p>
      <br />
          
      </div>
          
      <br />
      <br />
<script>
  setTimeout(function() {
    $('.alert').fadeOut('slow');
}, 5000);

  $("#close").click(function(){
    $(".alert").hide()
  })
</script>
{% endblock %} 