{%include 'base.html'%}
{% load static %}
{% load cloudinary %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">  
<link rel="stylesheet" href="{% static 'css/universal.css' %}">  
{% endblock  %}
  

{% block content %} 

<a href="/">
    <div class="container vender-registration mt-3">           
        <img class="img-fluid img-logo-reg" src="../static/img/build.png" alt="buildsoko-logo" />
        <h2 class="logo-name-reg">BUILDSOKO</h2>
    </div>
    </a>

    <div class="container register-wrapper mt-5">

    <center>
        <h2 class="register-welcome mt-3">Account type</h2>
    <p class="welcome-note mt-4">Choose your registration account type to continue...</p>
    </center>

    <br />
    <a href="/vendor-registration">
        <center>
            <button type="button" class="btn btn-primary btn-block mb-4 register">Seller Registration</button>
            </center>        
    </a>

    <a href="/buyer-registration">
        <center>
            <button type="button" class="btn btn-primary btn-block mb-4 register">Buyer Registration</button>
            </center>        
    </a> 

    <div class="or-hr">

        <hr class="or" />
        <p class="or-p">or</p>
        <hr class="or" />

    </div>
    
    <div class="account mt-3">
        <p>Already have an account?</p>
        <p class="log"><a class="register-a" href="/login">Log in</a></p>
    </div>


    <br />
        
    </div>

    <br>
    <br>


{% endblock  %}