{% load static %}
{% load bootstrap5 %}
{%include 'base.html'%}

{% block styles %}
<link href="{% static 'css/nav.css' %}" rel="stylesheet">
<link href="{% static 'css/universal.css' %}" rel="stylesheet">
{% endblock  %}


<nav class="navbar nav-first navbar-expand-lg navbar-light bg-light nav-bg">
    <div class="container-fluid first-navigation nav-bg">
        <div class="d-flex nav-bg">
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center nav-bg" href="/">
            <img class="nav-bg" 
            src="{% static 'img/logo.jpg' %}"
            height="40"
            alt="logo"
            loading="lazy"
            />
        </a>
        </div>

        <ul class="navbar-nav flex-row d-none d-md-flex nav-bg">
        <li class="nav-item me-3 me-lg-1 active nav-bg">

        <form method="get" action="{% url 'search_products' %}" id="top-nav-form" class="input-group w-auto my-auto d-none d-sm-flex nav-bg">
        <input
        autoComplete="off"
        type="search" 
        name="product"
        class="form-control rounded"
        placeholder="I’m looking for..."
        />
        
        <input
        autoComplete="off"
        type="search"  
        name="location"
        class="form-control rounded search-hide search-center"
        placeholder="Located in..."
        />

        <input
        autoComplete="off"
        type="search" 
        name="category"
        class="form-control search-hide rounded"
        placeholder="In catergory"
        />

        <button class="btn btn-sm top-nav-submit-btn" type="submit"><i class="fas fa-search fa-lg top-nav-search-icon"></i></button>
        </form>
        </li>               
        </ul>
        
        {% if user.is_authenticated %}

        {% if user.is_buyer %}
          
        <ul class="navbar-nav flex-row nav-bg">
        <li class="nav-item me-3 me-lg-1 nav-bg">
            <a class="nav-link d-sm-flex align-items-sm-center nav-bg" href="{% url 'buyerprofile' request.user.username %}">
            <span class="nav-bg"><i class="far fa-user fa-lg nav-bg user-icon"></i></span>
            <span class="d-none d-sm-block ms-1 nav-bg user-main"> Hi,{{ request.user.username}}</span>
            
            </a>
        </li>

        
        <li class="nav-item dropdown me-3 me-lg-1 nav-bg">
            <a class="nav-link dropdown-toggle hidden-arrow nav-bg" href="{% url 'buyerprofile' request.user.username %}"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            >
            {% if not "profile" in request.get_full_path %} 
            <i class="fas fa-chevron-down nav-bg drop"></i>
            {% endif %}
            </a>
            <ul
            class="dropdown-menu dropdown-menu-end nav-bg"
            aria-labelledby="navbarDropdownMenuLink"
            >
            <li>
                <a class="dropdown-item nav-bg user profile-hover" href="{% url 'buyerprofile' request.user.username %}"><i class="far fa-user"></i><span class="prof-icons"> My Account </span> </a>
            </li>
            <li class="disabled">
                <a class="dropdown-item nav-bg user profile-hover disabled" href=""><i class="far fa-envelope"></i> <span class="prof-icons"> Inbox </span> </a>
            </li>
            <li>
                <a class="dropdown-item nav-bg user profile-hover" href="{% url 'wishlist' request.user.username %}"><i class="far fa-heart"></i> <span class="prof-icons"> Saved Items </span> </a>
            </li>
            <li>
                <a class="dropdown-item nav-bg user profile-hover logout-line" href="/logout"><i class="fas fa-sign-out-alt"></i> <span class="prof-icons"> LOGOUT </span> </a>
            </li>
            </ul>
        </li>
        
        </ul>

        {% elif user.is_seller %}

        <ul class="navbar-nav flex-row nav-bg">
          <li class="nav-item me-3 me-lg-1 nav-bg">
              <a class="nav-link d-sm-flex align-items-sm-center nav-bg" href="{% url 'sellerprofile' request.user.username %}">
              <span class="nav-bg"><i class="far fa-user fa-lg nav-bg user-icon"></i></span>
              <span class="d-none d-sm-block ms-1 nav-bg user-main"> Hi,{{ request.user.username}}</span>
              
              </a>
          </li>
  
          <li class="nav-item dropdown me-3 me-lg-1 nav-bg">
              <a class="nav-link dropdown-toggle hidden-arrow nav-bg" href="{% url 'sellerprofile' request.user.username %}"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
              >
              <i class="fas fa-chevron-down nav-bg drop"></i>
              </a>
              <ul
              class="dropdown-menu dropdown-menu-end nav-bg"
              aria-labelledby="navbarDropdownMenuLink"
              >
              <li>
                  <a class="dropdown-item nav-bg user profile-hover" href="{% url 'sellerprofile' request.user.username %}"><i class="far fa-user"></i><span class="prof-icons"> My Account </span> </a>
              </li>
              <li class="">
                  <a class="dropdown-item nav-bg user profile-hover" href="{% url 'add' request.user.username %}"><i class="fas fa-plus-circle"></i> <span class="prof-icons"> Sell Product </span> </a>
              </li>
              <li>
                  <a class="dropdown-item nav-bg user profile-hover" href="{% url 'saved' request.user.username %}"><i class="far fa-heart"></i> <span class="prof-icons"> Saved Items </span> </a>
              </li>
              <li>
                  <a class="dropdown-item nav-bg user profile-hover logout-line" href="/logout"><i class="fas fa-sign-out-alt"></i> <span class="prof-icons"> LOGOUT </span> </a>
              </li>
              </ul>
          </li>
          </ul>

        {% endif %}

        {% else %}
        <ul class="navbar-nav flex-row nav-bg">
        <li class="nav-item me-3 me-lg-1 nav-bg">
        <a class="nav-link d-sm-flex align-items-sm-center nav-bg" href="/login">
        <span class="nav-bg"><i class="far fa-user fa-lg nav-bg user-icon"></i></span>
        <span class="d-none d-sm-block ms-1 nav-bg user-main"> Log In | Register</span>
        </a>
        </li>

        <li class="nav-item dropdown me-3 me-lg-1 nav-bg">
            <a class="nav-link dropdown-toggle hidden-arrow nav-bg" href="/"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            >
            <i class="fas fa-chevron-down nav-bg drop"></i>
            </a>
            <ul
            class="dropdown-menu dropdown-menu-end nav-bg"
            aria-labelledby="navbarDropdownMenuLink"
            >
            <li>
                <a class="dropdown-item nav-bg profile-hover user" href="{% url 'registration_type' %}">Sign up</a>
            </li>
            <li>
                <a class="dropdown-item nav-bg user profile-hover log-in-line" href="/login">Log in</a>
            </li>
            <li>
                <a class="dropdown-item nav-bg user profile-hover sell-prod-line" href="/">Sell product</a>
            </li>

            <li>
                <a class="dropdown-item nav-bg user profile-hover" href="/">Help</a>
            </li>

            </ul>
        </li>
        </ul>
        {% endif %}

    </div>
    </nav>

    <nav class="navbar text-white navbar-light bot-bg">
        <div class="container-fluid second-navigation bot-bg">
        <div class="bottom-first">
    
          <div class="btn-group">
          <button
            class="navbar-toggler text-white"
            type="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false" 
          >
            <i class="fas fa-bars"> <span class="bottom-nav-names">All Categories</span></i>
          </button>        

          <ul class="dropdown-menu user-main bottom-drop" role="menu">
          {% for item in category %}
          <li><a class="dropdown-item user profile-hover" href="{% url 'category_filter' item.category %}"><span class="prof-icons"> {{ item.category }} </span></a></li>
          {% endfor %}
          </ul>
          </div>
        
          
            <a href="{% url 'browse' %}">
            <button class="navbar-toggler bottom-nav-names"><span class="bottom-nav-names">Browse flowers</span></button>
            </a>
          </div>

          <div class="bottom-second">

            {% if user.is_seller %}
            <a type="button" href="{% url 'add' request.user.username %}" class="btn resp1 bottom-sell"><span class="bottom-sell-name">Sell Product</span></a>
            {% elif user.is_buyer %}
            <a type="button" href="{% url 'sellersignup' %}" class="btn resp1 bottom-sell"><span class="bottom-sell-name">Sell Product</span></a>
            {% else %}
            <a type="button" href="{% url 'sellersignup' %}" class="btn resp1 bottom-sell"><span class="bottom-sell-name">Sell Product</span></a>
            {% endif %}
         

          
          {% if user.is_buyer %}                   
              <a class="resp4" href="{% url 'wishlist' request.user.username %}">
              <button class="navbar-toggler text-white"
              type="button">
             <i class="far fa-heart b-icon"></i> <span class="bottom-nav-names"> Wishlist</span>
             </button>
              </a>

          {% elif user.is_seller %}
              
              <a class="resp6" href="{% url 'saved' request.user.username %}">
              <button class="navbar-toggler text-white"
              type="button">
             <i class="far fa-heart b-icon"></i> <span class="bottom-nav-names"> Wishlist</span>
             </button>
              </a>

          {% else %}
            <a class="resp8" title="Login required" href="/login">
            <button disabled class="navbar-toggler text-white disabled"
            type="button">
           <i class="far fa-heart b-icon"></i> <span class="bottom-nav-names"> Wishlist</span>
           </button>
            </a>

            {% endif %}
            
            
          </div>

        </div>
      </nav>